.tech-list {
  align-items: center;
  display: grid;
  flex-flow: row wrap;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-bottom: 100px;
  max-width: 1050px;
  padding: 0 70px;
  width: 100%;
}

.tech-list .tech:first-child {
  border-right: 2px solid $green;
  grid-column: 1;
  grid-row: 1/3;
}

@media only screen and (max-width: 1024px){
  .tech-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .tech-list .tech:first-child {
    border-right: 0;
  }

  .tech-list .tech:last-child {
    border-bottom: 0;
  }
}
