doctype html

html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title
      | HTML & CSS Training
    meta(name='description' content='training')
    meta(name='author' content='Wolox')
  body
    #app
      header.nav
        img.wlogo(src='assets/wolox_logo.svg' alt='wolox')
        h1.nav-title
          | Developer tools
      .container
        h1.title
          | Find a technology
        input.input-box(v-model='inputTech' placeholder='Technology' @input='getTech(inputTech)')
        div(v-if='inputTech.length > 0')
          .techs-lists(v-if='searchResults.length > 0')
            tech(v-for='tech in searchResults' :tech='tech' :key='tech.name')
          p(v-else)
            | No search results
        div(v-else v-for='platform in techs')
          h1.title
            | {{ platform.platform }}
          .tech-list
            tech(v-for='tech in platform.techs' :tech='tech' :key='tech.name')
      footer.footer
        h3.footer-subtitle
          | WE ARE GAME CHANGERS
        img.footer-logo(src='assets/wolox_logo_white.svg')
        p.footer-copyright
          | Copyright 2018. Wolox. All rights reserved.
    script(src='./index.js')
