.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-flow: column nowrap;
  padding: 30px 0 10px;
}

.footer-subtitle {
  color: $white;
  font-size: $text-medium;
  margin-bottom: 10px;
}

.footer-logo {
  height: 50px;
  margin-bottom: 20px;
}

.footer-copyright {
  align-self: flex-end;
  color: $white;
  font-size: $text-small;
}

@media only screen and (max-width: 1024px){
  .footer-copyright {
    align-self: center;
  }
}
