.nav {
  align-items: center;
  background-color: $white;
  box-shadow: 0 0 10px $black;
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.wlogo {
  width: 110px;
}

.nav-title {
  font-size: $text-medium;
}

@media only screen and (max-width: 1024px) {
  .nav-title {
    display: none;
  }
}
