.title {
  color: $black;
  font-size: $text-big;
  margin: 40px 0 70px;
  padding-left: 60px;
  position: relative;

  &::before {
    background: url('../assets/triangle.svg') no-repeat;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    z-index: -1;
  }
}
